dat2012/
dat2016/
C_B_2012.pdf
C_B_2016.pdf
C_C_2012.pdf
C_C_2016.pdf
C_d_in_2012.pdf
C_d_in_2016.pdf
C_d_out_2012.pdf
C_d_out_2016.pdf
C_dw_in_2012.pdf
C_dw_in_2016.pdf
C_dw_out_2012.pdf
C_dw_out_2016.pdf
C_exbarr_2012.csv
C_exbarr_2016.csv
C_inbarr_2012.csv
C_inbarr_2016.csv
Cliques_2012.csv
Cliques_2016.csv
df_2012.csv
df_2016.csv
df_in_2012.csv
df_in_2016.csv
df_out_2012.csv
df_out_2016.csv
edgeW_2012.csv
edgeW_2016.csv
intr_2012.csv
intr_2016.csv
totalescv.csv
prueba.ipynb
Ley_de_potencias_2012.pdf
Ley_de_potencias_2016.pdf
Max_Clique_2012.pdf
Max_Clique_2016.pdf
Max_Clique_Nx_2012.pdf
Max_Clique_Nx_2016.pdf
P_vs_k_2012.pdf
P_vs_k_2016.pdf

